%h1
  = "Hello " + (current_user.nil? ? "Guest. Sign in to use Service" : current_user.nickname.to_s)
- if current_user
  %h2
    VK:
  - if current_user.vk_token
    You are connected to vk.
    %br
    Vk Group Id:
    - if current_user.vk_group
      %br
      = current_user.vk_group
  - else
    = link_to 'Connect to VK', 'connect_vk'
  %h2
    FB:
  - if current_user.fb_token?
    You are connected to fb.
    %br
    Fb Group Id:
    - if current_user.fb_group
      %br
      = current_user.fb_group
  - else
    = link_to 'Connect to FB', '/auth/facebook'
